@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 45 66% 52%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 45 66% 52%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 98%; /* White */
    --card: 0 0% 18%; /* Charcoal for cards */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 66% 52%; /* Gold #D4AF37 */
    --primary-foreground: 0 0% 0%; /* Black for text on primary */
    --secondary: 0 0% 18%; /* Charcoal #2D2D2D */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 34% 31%;
    --input: 0 0% 27%; /* Medium Gray for inputs */
    --ring: 45 66% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
   .link-underline {
      @apply relative inline-block;
  }
  .link-underline::after {
      content: '';
      @apply absolute -bottom-1 left-0 h-[2px] w-full origin-bottom-right scale-x-0 bg-primary transition-transform duration-300 ease-in-out;
  }
  .link-underline:hover::after {
      @apply origin-bottom-left scale-x-100;
  }
}

@layer utilities {
  .text-shadow-md {
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .text-shadow-lg {
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  .border-3 {
    border-width: 3px;
  }

  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
  }

  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .button:hover {
    background-color: #000;
  }

  .button:hover .button__icon-wrapper {
    color: #000;
  }

  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }

  .button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
  }

  .button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
  }
}

/* Socials Card */
.socials-card {
  max-width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(15px);
  box-shadow:
    inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274),
    0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.5s;
}

.socials-card:hover {
  animation: ease-out 5s;
  background: rgba(173, 173, 173, 0.05);
}

.socials-card ul {
  padding: 1rem;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.socials-card ul li {
  cursor: pointer;
}

.social-svg {
  transition: all 0.3s;
  padding: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  color: rgb(255, 174, 0);
  fill: currentColor;
  box-shadow:
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5),
    0 5px 5px rgba(0, 0, 0, 0.164);
}

.social-text {
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: rgb(255, 174, 0);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  box-shadow:
    -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5),
    0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.iso-pro {
  transition: 0.5s;
}
.iso-pro:hover a > .social-svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.iso-pro:hover .social-text {
  opacity: 1;
  transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .social-svg {
  transform: translate(5px, -5px);
}

.iso-pro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow:
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5),
    0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}

.iso-pro:hover span {
  opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
  opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.slider__status-bar {
    @apply relative h-1 w-full max-w-[200px] mx-auto mt-8 bg-primary/20 overflow-hidden rounded-full;
  }
  
  .slider__status-indicator {
    @apply absolute top-0 left-0 h-full bg-primary transition-transform duration-300 ease-in-out;
  }

  body.cms-page-body .with-breadcrumb .breadcrumb-wrapper .breadcrumb {
    background-color: #191414;
    padding: 30px 0 20px;
    border-top: 1px solid #37372e;
  }
  
  body.cms-page-body .with-breadcrumb .breadcrumb-wrapper .breadcrumb ul > li {
    letter-spacing: 0.5px;
  }
  
  body.cms-page-body .with-breadcrumb .breadcrumb-wrapper .breadcrumb ul > li:not(:last-of-type)::after {
    padding-left: 6px;
  }
  
  .cms-page .default-content-wrapper {
    margin-bottom: 64px;
  }
  
  .cms-page .default-content-wrapper p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  
  .cms-page .default-content-wrapper img {
    display: block;
    width: 100%;
  }
  
  .cms-page .text-wrapper {
    padding: 0 20px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto 40px;
  }
  
  .cms-page .text-wrapper:last-of-type {
    margin: 0 auto 30px;
  }
  
  .cms-page .text-wrapper:has(.intro-text) {
    margin-bottom: 16px;
  }
  
  .cms-page .text-wrapper:has(.mb-24) {
    margin: 0 auto 24px;
  }
  
  .cms-page .text-wrapper:has(.address-section), .cms-page .text-wrapper:has(.address-section) + .text-wrapper {
    margin-bottom: 32px;
  }
  
  .cms-page .text-wrapper p {
    font-size: 14px;
    line-height: 22px;
  }
  
  .cms-page .text-wrapper .intro-text p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 24px;
  }
  
  .cms-page .text-wrapper .left-border p {
    padding-left: 20px;
  }
  
  .cms-page .text-wrapper .align-left p:last-of-type {
    font-size: 14px;
    line-height: 22px;
  }
  
  .cms-page .text-wrapper .align-left h1 {
    font-size: 48px;
    line-height: 58px;
    margin-top: 16px;
    margin-bottom: 64px;
  }
  
  .cms-page .text-wrapper .align-left strong {
    font-weight: 500;
  }
  
  .cms-page .text-wrapper .left-border {
    border-left: 1px solid #454545;
  }
  
  .cms-page .text-wrapper .left-border h2 {
    padding-left: 20px;
    font-size: 24px;
    line-height: 36px;
    font-family: var(--body-font-family);
    text-align: left;
  }
  
  .cms-page .text-wrapper .section-divider {
    border: 1px solid #E3E3E3;
    margin: 40px 0;
  }
  
  .cms-page .text-wrapper .text.block p + p {
    margin-top: 8px;
  }
  
  .cms-page .text-wrapper h3,
  .cms-page .text-wrapper .align-left #press-contact {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 16px;
    text-align: left;
  }
  
  /* Mobile Responsive */
  @media screen and (max-width: 768px) {
    body.cms-page-body .cms-page {
      padding: 0;
    }
  
    body.cms-page-body .with-breadcrumb .breadcrumb-wrapper,
    .cms-page .default-content-wrapper p:last-of-type {
      display: none;
    }
  
    body.cms-page-body .cms-page .default-content-wrapper {
      margin-bottom: 32px
    }
  
    .cms-page .text-wrapper:has(.mb-32), .cms-page .text-wrapper:has(.section-divider) {
      margin-bottom: 32px;
    }
  
    .cms-page .text-wrapper:has(.address-section) {
      margin-bottom: 24px;
    }
  
    body.cms-page-body .cms-page .text-wrapper {
      max-width: 343px;
      padding: 0;
    }
    
    .cms-page .text-wrapper:has(.address-section) + .text-wrapper {
      margin-bottom: 24px;
    }
  
    .cms-page .text-wrapper .section-divider {
      margin: 0;
    }
  
    .cms-page .text-wrapper .align-left h1 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 32px;
    }
  
    .cms-page .text-wrapper .left-border h2 {
      font-size: 20px;
      line-height: 28px;
      padding-left: 16px;
    }
  
    .cms-page .text-wrapper .left-border p {
      padding-left: 16px;
    }
  
    .cms-page .default-content-wrapper img {
      height: 255px;
    }
  }
  
  @media (min-width: 1024px), print {
    .page-wrapper {
      border-top: 4px solid #e3e3e3
    }
  }


